In [ ]:
#dataset https://www.kaggle.com/datasets/mfaisalqureshi/spam-email?resource=download
import numpy as np
import pandas as pd
from  sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
data =pd.read_csv('spam.csv')
data.shape
data.isna().any()

Category    False
Message     False
dtype: bool

In [ ]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
data['Category'].unique()

array(['ham', 'spam'], dtype=object)

now we know we ham and spam so assigning 1 and 0

spam-0
ham-1

In [ ]:
data['Category']=data['Category'].map({'ham':1,"spam":0})

In [ ]:
data.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#splitting x and y
X=data['Message']
y=data['Category']

In [ ]:
X_train,X_test, Y_train, Y_test= train_test_split(X,y)

In [ ]:
#logic behind this is , X shape should be sum of x_train and x_test, for verifcation purpose
print(X.shape, X_train.shape, X_test.shape)

(5572,) (4179,) (1393,)

converting text data into numeric values.

In [ ]:
#always fun to convert stuff... ifykyk
converter = TfidfVectorizer(min_df=1,stop_words='english', lowercase='True')
xtrain_con=converter.fit_transform(X_train)
xtest_con=converter.transform(X_test)

#NOTE: use fit_transform on training data , and transform on test data , reason:https://towardsdatascience.com/what-and-why-behind-fit-transform-vs-transform-in-scikit-learn-78f915cf96fe

In [ ]:
model=LogisticRegression()
model.fit(xtrain_con,Y_train)

LogisticRegression()

In [ ]:
from sklearn.metrics import accuracy_score

testing accuracy of training data

In [ ]:
y_pred_train=model.predict(xtrain_con)
acc_pred=accuracy_score(Y_train, y_pred_train)
print(acc_pred)

0.9686527877482651

testing accuracy of test data

In [ ]:
y_pred_test=model.predict(xtest_con)
acc_test=accuracy_score(Y_test,y_pred_test)
print(acc_test)

0.9676956209619526

build a predictive system for email spam detection

In [ ]:
mail_content=["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entr"]

mail_cnvrt=converter.transform(mail_content)

In [ ]:
pred=model.predict(mail_cnvrt)
if(pred==1):
  print('not spam')
else:
  print('spam')

spam